@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-color: #98d3b5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  transform: translate(-50%, -50%);
}
.wrap {
  height: 85vh;
  width: 480px;
}

.bg01 {
  transform: translate(-50%, -50%);
}